
.circle__wrap
    .container
        input(
            type="hidden"
            id="start_date"
            name="start_date"
            value="August 1,2017 18:00"
        )
        .circle
            .circle__block.circle__block_months
                span(
                    id="date__month"
                    class="circle__block-num"
                )!= "05"
                span(
                    class="circle__block-text")!= "month"

            .circle__block.circle__block_days
                span(
                    id="date__day"
                    class="circle__block-num"
                )!= "22"
                span(
                    class="circle__block-text")!= "days"

            .circle__block.circle__block_hours
                span(
                    id="date__hours"
                    class="circle__block-num"
                )!= "13"
                span(
                    class="circle__block-text")!= "hours"

            .circle__block.circle__block_minutes
                span(
                    id="date__minutes"
                    class="circle__block-num"
                )!= "11"
                span(
                    class="circle__block-text")!= "minutes"

            .circle__block.circle__block_seconds
                span(
                    id="date__seconds"
                    class="circle__block-num"
                )!= "59"
                span(
                    class="circle__block-text")!= "seconds"