
.copyright
    span.copyright__text!= "© ExpertCollege 2017"

    span.copyright__line.copyright__line-0!= "  |  "

    a(
        href="javascript:void(0);"
        title=""
        class="copyright__text"
    )!= "alle rechten voorbehouden"

    span.copyright__line.copyright__line-1!= "  |  "

    a(
        href="javascript:void(0);"
        target="_blank"
        title=""
        class="copyright__text"
    )!= "disclaimer"