
.logotype
    img(
        src="./image/logotype-inverse.png"
        title="ExpertFolio"
        alt="ExpertFolio"
        class="logotype__img logotype__img-desktop"
    )
    img(
        src="./image/logotype-inverse_mobile.png"
        title="ExpertFolio"
        alt="ExpertFolio"
        class="logotype__img logotype__img-mobile"
    )