
.social.clearfix
    a(
        href="https://www.facebook.com/pages/ExpertCollege/257436114287385"
        title=""
        class="social__btn social_f"
    )
    a(
        href="https://twitter.com/expertcollege1"
        title=""
        class="social__btn social_t"
    )
    a(
        href="https://plus.google.com/u/0/b/103858104732075956830/103858104732075956830"
        title=""
        class="social__btn social_g"
    )